  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    
    margin: auto;
  }

.Gallery{
    background-image: url('../../assets/img/bg-content2.jpg');
}






.photos{
  padding-left: 10%;
}

.image{
  border: 4px rgb(102, 14, 14) solid;
  margin: 20px;
}

.Box:hover{
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  transition: box-shadow 0.1s ease-in-out;
}